<!-- footer starts -->

<footer id="colorlib-footer" role="contentinfo">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col footer-col colorlib-widget">
				<h4>About Footwear</h4>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
					life</p>
				<p>
				<ul class="colorlib-social-icons">
					<li><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i class="icon-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjc5ODk3MjIyLCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D"><i class="icon-facebook"></i></a></li>
					<li><a href="https://in.linkedin.com/?src=go-pa&trk=sem-ga_campid.14650114788_asid.127961666300_crid.651859540485_kw.linkedin%20login_d.c_tid.kwd-12704335873_n.g_mt.e_geo.9075362&mcid=6844056167778418689&cid=&gclid=Cj0KCQjw2v-gBhC1ARIsAOQdKY3ij5e8wGq9IEw_2tAm5wtOLufU-Ja7-qoQ5boh96_-2L1RBRvgfzIaAlcPEALw_wcB&gclsrc=aw.ds"><i class="icon-linkedin"></i></a></li>
				</ul>
				</p>
			</div>
			<div class="col footer-col colorlib-widget">
				<h4>Customer Care</h4>
				<p>
				<ul class="colorlib-footer-links">
					<li><a href="/contact">Contact</a></li>
					<li><a href="/orderhistory">Returns</a></li>
					<li><a href="/wishlist">Wishlist</a></li>
					
				</ul>
				</p>
			</div>
			<div class="col footer-col colorlib-widget">
				<h4>Information</h4>
				<p>
				<ul class="colorlib-footer-links">
					<li><a href="/about">About us</a></li>
					<li><a href="/orderhistory">Delivery Information</a></li>
					<!-- <li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Support</a></li> -->
					<li><a href="/orderhistory">Order Tracking</a></li>
				</ul>
				</p>
			</div>

			<div class="col footer-col">
				<h4>News</h4>
				<ul class="colorlib-footer-links">
					<li><a href="/pageunderconstruction">Blog</a></li>
					<li><a href="/pageunderconstruction">Press</a></li>
					<li><a href="/pageunderconstruction">Exhibitions</a></li>
				</ul>
			</div>

			<div class="col footer-col">
				<h4>Contact Information</h4>
				<ul class="colorlib-footer-links">
					<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
					<li><a href="tel://9061969167">+ 1235 2355 98</a></li>
					<li><a href="mailto:agent47hne@gmail.com">contact@fcart.com</a></li>
					<li><a href="/">fcart.com</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copy">
		<div class="row">
			<div class="col-sm-12 text-center">
				<p>
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This template
						is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</span>
					<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a
							href="http://pexels.com/" target="_blank">Pexels.com</a></span>
				</p>
			</div>
		</div>
	</div>
</footer>

<!-- footer ends -->